body {
	background:#333;
	font-family:"Palatino Linotype", "Book Antiqua", "Palatino", serif;
}
#wrapper {
	width:500px;
	margin:auto;
	text-align:center;
}
form ol {
	padding:0;
}
form ol li {
	list-style:none;
}
fieldset {
	border:none;
	padding:0;
}
fieldset input{
	width:494px;
}

fieldset.buttons{
display:none;
}
input {
	font-size:22px;
}
textarea {
	width:500px;
	height:300px;
}

a.bttn {
	background-color:#C3C3C3;
	color:black;
	padding:10px;
	float:left;
	width:220px;
}

a.bttn.right {
	margin-left:10px;
}

br.clear {
	clear:both;
}