<form> 
    <table> 
        <tr> 
            <td><label for='name'>Name:</label></td> 
            <td><input name='name' style='width:100%'></td> 
        </tr> 
        <tr> 
            <td><label for='comment'>Comment:</label></td> 
            <td><textarea name='comment' rows="20" cols="50" class="bespin" data-bespinoptions='{ "syntax": "js" }'>Hello world!</textarea></td> 
        </tr> 
        <tr> 
            <td></td> 
            <td><input type="submit" value="Submit"></td> 
        </tr> 
    </table> 
</form>