-semantic_form_remote_for bookmarklet, :url => url_for(:controller => :bookmarklets, :action => :generate), :method => :post do |form|
  -form.inputs do
    =form.input :name
    =form.input :code, :input_html => {:class => "bespin"}
  =form.buttons