!!! Strict
%html{"xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %link#bespin_base{:href => "bespin/"}
    =stylesheet_link_tag '../bespin/BespinEmbedded.css'
    =stylesheet_link_tag "styles" 
    = google_javascripts :jquery, :jqueryui
    =javascript_include_tag '../bespin/BespinEmbedded.js'
  %body
    #wrapper
      =yield